langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
duckdb
pandas
openai
langchain-groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
unstructured
pytube
numexpr
streamlit
chromadb
pysqlite3-binary
sentence-transformers
huggingface_hub
Pillow
evaluate
nltk
rouge-score
bert-score
wordcloud
matplotlib
datasets>=2.0.0
pyarrow>=12.0.0
