langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
duckdb
pandas
openai
langchain-groq
duckduckgo-search
validators==0.28.1
unstructured
pytube
numexpr
streamlit
pysqlite3-binary
chromadb
langchain
huggingface-hub
